NODE_ENV=development
PORT=3000

# Supabase Postgres (Session Pooler - IPv4 compatible)
DATABASE_URL=postgresql://postgres.<project-ref>:<password>@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres?sslmode=no-verify

# Optional direct connection (usually for local tools)
DATABASE_URL_DIRECT=postgresql://postgres:<password>@db.<project-ref>.supabase.co:5432/postgres?sslmode=no-verify

# Optional app settings
ADMIN_USERNAME=owner
ADMIN_PASSWORD=owner123
SUBSCRIPTION_FEE_LABEL=Rp 30.000 / 30 Hari
SUBSCRIPTION_PAY_TO=(BRI) 4446 0102 0799 534 A/N TAUFIK RIZAL, (SEABANK) 9013 2566 5382 a/n Taufik Rizal, A.Md.Kom, (DANA) 085176744840
SUBSCRIPTION_CONFIRM_TO=085176744840
